body {
  font-family: 'Comfortaa', sans-serif;
  background-color: #111;
  color: #f4f4f4;
}

a {
  color: #ff3b3b;
  text-decoration: none;
}

a:hover {
  color: #ff6969;
}

.hero-image {
  max-height: 700px;
  object-fit: cover;
}

h2 {
  font-weight: 700;
}

footer {
  font-size: 0.9rem;
}
